body {
    margin-top: 0;
}

header {
    display: flex;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    flex-wrap: nowrap;
}

h1 {
    color: white;
    padding-right: 9%;
    padding-left: 9%;
}

.border {
    border-top: 2px solid gainsboro;
    height: 43px;
    background-color: AliceBlue;
}

.spaceholder {
    flex-grow: 15;
}

.container {
    flex-grow: 1;
    background: #4aaaa5;
    text-align: center;
}

.container2 {
    flex-grow: 1;
}

nav li {
    display: inline-block;
    font-size: 20px;
    color: grey;
    margin:0px;
}

nav li:nth-child(2) {
    margin-right:5%;
    margin-left: 5%;
    border-right: thin solid gainsboro;
    border-left: thin solid gainsboro;
    padding-left: 5%;
    padding-right: 5%;
}


/*Following code is for everything under header's bottom border*/

.all-content-container {
    background-color: AliceBlue;
}

.main-content {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    margin: 0;
}

.AboutMe {
    padding: 4%;
    background: white;
    display: inline-block;
    flex-grow: 2;
    width: 50%;
    border: solid 1px;
    margin-right: 4%;
}


.ContactMe {
    justify-content: center;
    background-color: white;
    flex-grow: 1;
    border: solid 1px;
    text-align: center;
    height: 200px;
}

aside li {
    display: inline-block;
    font-size: 400%;
    flex-grow: 1;
}

img {
    float: left;
    margin-right: 5%;
}

p {
    margin-top: 0px;
}